body {
    background-image: url(images/fun/matrix.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100%;
    /*prøver få vekk at man kan scrolle til siden.          Tror den kan fjernes*/
    overflow-x: hidden; 
    margin: 0;
}

/* Text elements */
h1 {
    font-size: 30px;
    color: rgb(81, 255, 0);
    position: relative;
    top: -10px;
}

h2 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

h3 {
    color: rgb(81, 255, 0);
    display: flex;
    justify-content: center;
}

/* Banner styling */
.forsidebilde {
    background-image: url(images/fun/banner-fun.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70px;
    padding: 40px 0 40px;
}

/* Navigation bar */
nav{
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    background-color: rgb(3, 19, 0);
    text-transform:uppercase;
    /* Koden under gjør at navbaren blir sticky i toppen. */
    position: sticky;
    top: 0;
    width: 100vw;
    overflow: auto;
    z-index: 2;
}
 
nav a{ 
    display: inline-block;     
    position: relative;
    color: rgb(255, 255, 255);
    padding: 1em;
}

nav a:hover {
    outline: 1px solid white;
    outline-offset: -4px;
}

.currentPage {
    color:rgb(81, 255, 0);
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

/* Article specific text elements */
article  {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    font-size: 16px;
    margin: 0px 5rem;
    padding: 2rem;
    background-color: #000000;
}

img {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

#cool-images img{
    width: 25%;
    min-width: 200px;
}

.paragraph{
    flex-direction: column;
    /* Får underoverskriftene over tekstene*/
}

div {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#mute {
    height: 12vh;
    min-height: 40px;
    width: auto;
    border: 1px solid #06be00;
    border-radius: 15px;
    cursor: pointer;
}

/* Input field styling (Matrix) */
input[type="text"], textarea {
    background-color : #000000;
}
input, select, textarea{
    color: #06be00;
}
textarea:focus, input:focus {
    color: #06be00;
}

.hack-area{
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-left: -16px;
}
.hack-area h2{
    padding-top: 40px;
}

#hack-button{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #06be00;
    background-color: black;
    font-size: 30px;
}

/* Pop-up styling and function */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popup-chat {
    visibility: hidden;
    width: 400px;
    background-color: rgb(0, 0, 0);
    padding: 5px 5px;
    position: absolute;
    left: -105%;
    bottom: 110%;
}
.popup .visible {
    visibility: visible;
}

footer{
    margin-top: -30px;
    margin-left: 20px;
    color: white;
    font-size: 8px;
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/****** Screens < 700px ******/
@media screen and (max-width: 700px) {
    h1 {
        font-size: 22.5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .hack-area h2 {
        margin-top: -20px;
    }
    
    h3 {
        font-size: 1rem;
    }

    #cool-images img{
        width: 40%;
        min-width: 125px;
    }

    .forsidebilde {
        height: 30px;
    }

    nav{
        font-size: 0.7rem;
    }

    #hackspace {
        width: 100%;
        max-width: 380px;
    }

    .popup .popup-chat {
        width: 325px;
        left: -75%;
    }
}

/****** Screens < 520px ******/
@media screen and (max-width: 520px) {
    .forsidebilde {
        height: 1px;
    }
    
    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 0.9rem;
    }

    .hack-area h2 {
        font-size: 0.6rem;
        margin-top: -20px;
    }
    
    h3 {
        font-size: 0.6rem;
    }

    nav{
        font-size: 0.6rem;
    }
    nav a{
        display: inline-block;
        text-align: center;
    }

    #cool-images img{
        width: 40%;
        min-width: 80px;
    }
    
    article  {
        margin: 0px 2.5rem;
        background-color: #000000;
    }

    #hackspace {
        width: 100%;
        max-width: 300px;
        max-height: 200px;
    }

    .popup .popup-chat {
        width: 225px;
        left: -37.5%;
    }

    footer{
        margin-top: -70px;
        margin-left: 40px;
        color: white;
        font-size: 6px;
    }
}