/****** Style for index.html, reflection-essay.html, accessibility.html and topical-information.html ******/


body {
    background-color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100%;
    overflow-x: hidden; 
    margin: 0;
}

/* Text elements */
h1 {
    font-size: 2em;
    color: white;
    position: relative;
    top: -10px;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

p {
    width: 30vw;
    line-height: 1.5;
}

.intro {
    text-align: center;
}

.intro p{
    width: 50vw;
    font-size: 18px;
}

/* Banner styling */
.forsidebilde {
    background-image: url(images/reflection/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 4.5rem;
    padding: 2.5rem 0 2.5rem;
}

.sticky-header {
    display: flex;
    position: sticky;
    top: 1rem;
    width: auto;
    height: 2rem;
    background-color: white;
    margin-left: -5em;
    margin-right: -5em;
}
/* Navigation bar */
nav{
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    background-color: white;
    text-transform:uppercase;
    /* Koden under gjør at navbaren blir sticky i toppen. */
    position: sticky;
    top: 0;
    width: 100vw;
    /*overflow: auto;*/
    z-index: 2;
}
 
nav a{ 
    display: inline-block;     
    position: relative;
    color: rgb(14, 2, 26);
    text-decoration: underline;     
    padding: 1em;
}

nav a:hover {
    outline: 1px solid black;
    outline-offset: -4px;
}

.currentPage {
    color:rgb(113, 89, 129);
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

/* Article specific text elements */
article  {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 5rem;
    padding: 2rem;
}

img {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.paragraph-img {
    width: 40%;
}

.paragraph-text {
    display: flex;
    flex-direction: column;
}

.paragraph{
    flex-direction: column;
}

div {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

/******** Footer *********/

footer{
    background-image: url(images/reflection/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 6rem;
   /* padding: 40px 0 40px;   Kan fjernes*/
    color: white;
    text-shadow: 4px 4px 8px #000000; /* Ble det lettere å lese nå? */
    display: flex;
    justify-content: center;
    text-align: center;
   /* background-image: ;
    margin-left: 8px;
    color: rgb(0, 0, 0);
    font-size: 10px;*/
}
footer a{
    text-decoration: none;
    color: white;
    /*color: rgb(14, 2, 26);*/
}

.til-toppen {
    display: flex;
    justify-content: flex-end;
    color:#000000;
}

/************ STYLE HOME - PAGE *************/

#homepage {
    height: 100vh;
    background-image: url("images/reflection/oslomet-campus.jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
}

#forsideheader {
    width: 70vw;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-transform:uppercase;
    overflow: auto;
    margin-bottom: 20%;
}

#navbar-forside {
    width: 70vw;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.0);
    /*margin-top: -25px;*/
    margin: 0.5rem 0 0.5rem 0;
}

#side-tittel {
    display: inline;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    color:rgb(14, 2, 26);
}

#presentasjon {
    display: flex;
    align-self: center;
    width: 50vw;
    font-size: 0.9em;
    text-transform: none;
    text-align: center;
    margin:0;

}

/************ STYLE REFLECTION - ESSAY *************/

#academic-realms{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#academic-realms img{
    width: 15rem;
}

#academic-realms > div{
    margin: -2.5rem;
}

figcaption{
    font-size: 13px;
}

/****** TABLET SCREEN 670px - 960px ******/

@media screen and (max-width: 960px) and (min-width: 670px) { 
    .forsidebilde {
        height: 2em;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 2.3vw;
    }
    
    p {
        width: 50vw;
    }

    .intro{
        width: auto;
        font-size: 1em;
        align-items: center;
    }
    .intro p {
        text-align: center;
    }

    .sticky-header {
        width: auto;
        height: 1em;
        margin-right: -6em;
        margin-left: -6em;
    }
    .sticky-header h2 {
        margin-bottom: -1em;
    }

    article div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .paragraph-text {
        align-items: center;
    }

    .paragraph-text {
        display: flex;
        justify-content: center;
    }

    .paragraph-img {
        width: 55%;
    }

    .intro p {
        width: 60vw;
    }
    /***** Home-page tablet screen ******/
    #side-tittel {
        display: inline;
        text-align: center;
    }

    #navbar-forside {
        font-size: 0.8rem;
    }

    #presentasjon {
        font-size: 0.8em;
    }
    
    /******** Reflection - essay tablet screen ******/
    #academic-realms > div {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    figure {
        margin-block: 1.5vw;
        margin-inline: 1vw;
    }

    #academic-realms img{
        width: 30vw;
    }
}

/****** PHONE SCREEN < 669px ******/

@media screen and (max-width: 669px) { 
    .forsidebilde {
        height: 0.8em;
    }

    nav {
        font-size: 0.6rem;
    }
    nav a{
        display: inline-block;
        text-align: center;
    }

    .sticky-header {
        width: 100vw;
        height: 1em;
        margin-right: -7em;
        margin-left: -7em;
        padding-left: 5em;
    }
    .sticky-header h2 {
        margin-bottom: -1em;
    }

    article div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 0.8em;
    }

    h2 {
        font-size: 0.9em;
        overflow-x: hidden;
    }

    article {
        margin: 0;
    }

    article p{
        width: 70vw;
    }

    .paragraph-img{
        width: 50vw;
    }
    .paragraph-text {
        align-items: center;
    }

    #presentasjon {
        font-size: 0.8rem;
        text-align: left;
    }

    .intro{
        width: auto;
        align-items: center;
    }
    .intro p {
        font-size: 1em;
        text-align: center;
        margin-right: -2em;
        margin-left: -2em;
    }

    footer {
        font-size: 0.8em;
    }
    
    /******* Home-page phone screen *******/
    #navbar-forside {
        /*display: flex;
        flex-direction: column;*/
        font-size: 0.8rem;
        text-decoration: underline;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }

    #side-tittel {
        display: inline;
        text-align: center;
        font-size: 120%;
    }


    /******* Home-page phone screen *******/
    #navbar-forside{
        /*display: flex;
        flex-direction: column;*/
        font-size: 0.8rem;
        text-decoration: underline;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }

    #side-tittel {
        display: inline;
        text-align: center;
        font-size: 120%;
    }


    /********** Reflection essay phone screen *********/
    #academic-realms img {
        width: 7rem;
        padding-bottom: 1rem;
        margin-left: -1vw;
        margin-right: -1vw;
    }

    #academic-realms > div {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    figure {
        margin:0.5rem;
    }

    figcaption{
        font-size: 0.5em;
        width: 90vw;
        text-align: center;
    }    
}