@font-face {
    font-family: verdana;
    src: url();
}

body {
    height: 100%;
    margin: 0;
    background-color:slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 2rem;
    
}

.currentPage {
    color:cadetblue;
    pointer-events: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: column-reverse; 
    /* Dette gjør at overskriften h1 kommer øverst og navigasjonsmenyen nav under. */
}

article  {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    padding: 0 5vw; 
    background-color:cadetblue;
    font-size: 16px;
    margin: 0 5vw;
    border-radius: 8px;
    margin: 15px 5rem;
    padding: 2rem;
}

h2 {
    font-familiy: verdana;
    padding: 2rem;
    /*Bruke position: sticky; ?*/
}

img {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
    height: auto;
}

div {
    display: flex;
    text-align:justify;
    justify-content: space-around;
    padding: 2rem;
}

div:nth-child(odd) {
    display: flex;
    flex-direction: row;
}

div:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

p {
    width: 30vw;     
}
 
/************ STYLE INDEX-FILE (HOMEPAGE) **************/
#homepage {
    height: 100vh;
    background-image: url("images/reflection/oslomet-campus.jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
}

#forsideheader {
    width: 70vw;
    align-self: center;
    background-color: rgb(236, 208, 236);
    padding: 2rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
    




/************ STYLE REFLECTION - ESSAY *************/

